:root {
  --primary-font: "Source Serif Pro", serif;
  --primary-color: #dec2ba;
  --secondary-color: 00000;
}

.container-body {
  background: black;
}

button a {
  text-decoration: none;
  color: black;
}

img {
  margin: 0 auto;
  border: 5px solid #dec2ba;
  border-radius: 10px;
}

.hero {
  background: black;
  width: 100vw;
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
  font-weight: 600;
}

.hero p {
  font-size: 40px;
}

.hero button {
  margin-top: 40px;
  background-color: #dec2ba;
  color: black;
  font-style: italic;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid #dec2ba;
  font-size: 15px;
}

.hero button:hover {
  cursor: pointer;
  background-color: rgb(241, 209, 209);
  color: black;
  border: 2px solid #dec2ba;
  transition: ease-in-out;
}

.featured-projects {
  font-family: var(--primary-font);
  color: #dec2ba;
}

.title {
  font-size: 50px;
  font-weight: semi-bold;
}
.project {
  line-height: 30px;
}

.featured-projects button {
  margin-top: 40px;
  background-color: #dec2ba;
  color: black;
  font-style: italic;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid #dec2ba;
}

.featured-projects button:hover {
  cursor: pointer;
  background-color: rgb(241, 209, 209);
  color: black;
  border: 2px solid #dec2ba;
  transition: ease-in-out;
}

.about-me {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-align: center;
  padding: 160px 40px;
}

.about-me h1 {
  font-size: 60px;
  font-weight: 600;
}

.about-me h2 {
  font-size: 30px;
  font-weight: 300;
}

.about-me button {
  margin-top: 40px;
  background-color: #dec2ba;
  color: black;
  font-style: italic;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid #dec2ba;
  font-size: 15px;
}

.about-me button:hover {
  cursor: pointer;
  background-color: rgb(241, 209, 209);
  color: black;
  border: 2px solid #dec2ba;
  transition: ease-in-out;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 60px;
  }
  .project {
    padding: 0;
    text-align: center;
  }
}
