:root {
  --primary-font: "Source Serif Pro", serif;
  --primary-color: #dec2ba;
  --secondary-color: 00000;
}

.hero {
  background: black;
  width: 100vw;
  min-height: 100vh;
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
  font-weight: 600;
}

.hero p {
  font-size: 40px;
}

.hero button {
  margin-top: 40px;
  background-color: #dec2ba;
  color: black;
  font-style: italic;
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid #dec2ba;
}

.hero button:hover {
  cursor: pointer;
  background-color: rgb(241, 209, 209);
  color: black;
  border: 2px solid #dec2ba;
  transition: ease-in-out;
}

.author-picture {
  margin: 0 auto;
  display: inline;
  border: 2px solid #dec2ba;
  border-radius: 15px;
}
